# **Código para el Demo Day del módulo 3.**

## Limpieza de datos.

Se monta el drive para los archivos necesarios.

In [83]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Se importan los librerías necesarias.

In [84]:
import pandas as pd

In [85]:
import numpy as np

Se agregan funciones necesarias para evitar repetir código.

In [86]:
def deleting_data():
    replacing = ['2-Jan', '3-Jan', '4-Jan', '5-Jan','6-Jan', '8-Jan', '10-Jan',
                 '12-Jan', '16-Jan', '24-Jan', 'Jan-64', 'Jan-32']
    return replacing

In [87]:
def adding_data():
    replacing = ['2 players', '3 players', '4 players', '5 players', '6 players',
                 '8 players', '10 players', '12 players', '16 players',
                 '24 players', '64 players', '32 players']
    return replacing

In [88]:
def reading_db():
    db = '/content/drive/MyDrive/colab_bedu/proyecto_bedu/games-data-exp.csv'
    return db

In [89]:
def writing_db():
    db = '/content/drive/MyDrive/colab_bedu/proyecto_bedu/games_rewritten.csv'
    return db

Se suben los datos en un data frame.

In [90]:
df = pd.read_csv(reading_db(), sep=',')
df.set_index('name')
pd.set_option('display.max_columns', df.shape[0] + 1)

In [91]:
df

,name,platform,company,r-date,score,user_score,developer,genre,players,critics,users
0,The Legend of Zelda: Ocarina of Time,Nintendo64,Nintendo,11/23/1998,99,9.1,Nintendo,"Action Adventure,Fantasy",1 Player,22,5749
1,Tony Hawk's Pro Skater 2,PlayStation,Sony,9/20/2000,98,7.4,NeversoftEntertainment,"Sports,Alternative,Skateboarding",2-Jan,19,647
2,Grand Theft Auto IV,PlayStation3,Sony,4/29/2008,98,7.6,RockstarNorth,"Action Adventure,Modern,Modern,Open-World",1 Player,64,3806
3,SoulCalibur,Dreamcast,SEGA,9/8/1999,98,8.5,Namco,"Action,Fighting,3D",2-Jan,24,324
4,Grand Theft Auto IV,Xbox360,Microsoft,4/29/2008,98,7.9,RockstarNorth,"Action Adventure,Modern,Modern,Open-World",1 Player,86,3364
...,...,...,...,...,...,...,...,...,...,...,...
17939,Vroom in the Night Sky,Switch,Nintendo,4/5/2017,17,3.1,Poisoft,"Sports,Individual,Biking",No Online Multiplayer,15,105
17940,Leisure Suit Larry: Box Office Bust,PlayStation3,Sony,5/5/2009,17,1.9,Team17,"Action Adventure,Adventure,Third-Person,Open-W...",No Online Multiplayer,11,45
17941,Yaris,Xbox360,Microsoft,10/10/2007,17,4.3,BackboneEntertainment,"Driving,Racing,Arcade,Arcade,Automobile",2 Online,7,129
17942,Ride to Hell: Retribution,PC,Desktop,6/24/2013,16,1.3,"Eutechnyx,DeepSilver","Driving,Modern,Racing,Motorcycle,Motocross,Mod...",No info,9,581
17943,Family Party: 30 Great Games Obstacle Arcade,WiiU,Nintendo,12/4/2012,11,2,"ArtCo.,Ltd.","Miscellaneous,Party,Party,Party / Minigame",No Online Multiplayer,8,151

Se checan los valores nulos en el data frame

In [92]:
print(df.isna().sum(axis=0))

name           0
platform       0
company        0
r-date         0
score          0
user_score     0
developer      0
genre          0
players       22
critics        0
users          0
dtype: int64

In [93]:
df_clean_na = df.copy()
df_clean_na['players'] = df_clean_na['players'].fillna(0)

In [94]:
print(df_clean_na.isna().sum(axis=0))

name          0
platform      0
company       0
r-date        0
score         0
user_score    0
developer     0
genre         0
players       0
critics       0
users         0
dtype: int64

Vamos a extraer el año de lanzamiento

In [95]:
df_clean_na['year'] = pd.DatetimeIndex(df_clean_na['r-date']).year
pd.set_option('display.max_columns', df_clean_na.shape[0] + 1)

In [96]:
df_clean_na.head(5)

,name,platform,company,r-date,score,user_score,developer,genre,players,critics,users,year
0,The Legend of Zelda: Ocarina of Time,Nintendo64,Nintendo,11/23/1998,99,9.1,Nintendo,"Action Adventure,Fantasy",1 Player,22,5749,1998
1,Tony Hawk's Pro Skater 2,PlayStation,Sony,9/20/2000,98,7.4,NeversoftEntertainment,"Sports,Alternative,Skateboarding",2-Jan,19,647,2000
2,Grand Theft Auto IV,PlayStation3,Sony,4/29/2008,98,7.6,RockstarNorth,"Action Adventure,Modern,Modern,Open-World",1 Player,64,3806,2008
3,SoulCalibur,Dreamcast,SEGA,9/8/1999,98,8.5,Namco,"Action,Fighting,3D",2-Jan,24,324,1999
4,Grand Theft Auto IV,Xbox360,Microsoft,4/29/2008,98,7.9,RockstarNorth,"Action Adventure,Modern,Modern,Open-World",1 Player,86,3364,2008

Vamos a extraer el primer género dentro de la columna "genre" y "developer". Esto para hacer un análisis menos complicado de esta columna. Se extrae la columna y se concatena con el dataframe principal, y se cambia el nombre de la columna que se creó.

In [97]:
df_genre = df_clean_na['genre'].str.split(',', expand=True)
df_genre_dropped = df_genre.dropna(axis=1, how='any')

In [98]:
df_genre_dropped.head(5)

                  0
0  Action Adventure
1            Sports
2  Action Adventure
3            Action
4  Action Adventure

In [99]:
df_developer = df_clean_na['developer'].str.split(',', expand=True)
df_developer_dropped = df_developer.dropna(axis=1, how='any')

In [100]:
df_developer_dropped.head(5)

                        0
0                Nintendo
1  NeversoftEntertainment
2           RockstarNorth
3                   Namco
4           RockstarNorth

In [101]:
df_2 = pd.concat([df_clean_na, df_genre_dropped], axis=1)
df_2_drop = df_2.drop(columns=['genre'])
df_2_renamed = df_2_drop.rename(columns={
    'r-date': 'release_date',
    0: 'genre'
})

In [102]:
df_2_renamed

,name,platform,company,release_date,score,user_score,developer,players,critics,users,year,genre
0,The Legend of Zelda: Ocarina of Time,Nintendo64,Nintendo,11/23/1998,99,9.1,Nintendo,1 Player,22,5749,1998,Action Adventure
1,Tony Hawk's Pro Skater 2,PlayStation,Sony,9/20/2000,98,7.4,NeversoftEntertainment,2-Jan,19,647,2000,Sports
2,Grand Theft Auto IV,PlayStation3,Sony,4/29/2008,98,7.6,RockstarNorth,1 Player,64,3806,2008,Action Adventure
3,SoulCalibur,Dreamcast,SEGA,9/8/1999,98,8.5,Namco,2-Jan,24,324,1999,Action
4,Grand Theft Auto IV,Xbox360,Microsoft,4/29/2008,98,7.9,RockstarNorth,1 Player,86,3364,2008,Action Adventure
...,...,...,...,...,...,...,...,...,...,...,...,...
17939,Vroom in the Night Sky,Switch,Nintendo,4/5/2017,17,3.1,Poisoft,No Online Multiplayer,15,105,2017,Sports
17940,Leisure Suit Larry: Box Office Bust,PlayStation3,Sony,5/5/2009,17,1.9,Team17,No Online Multiplayer,11,45,2009,Action Adventure
17941,Yaris,Xbox360,Microsoft,10/10/2007,17,4.3,BackboneEntertainment,2 Online,7,129,2007,Driving
17942,Ride to Hell: Retribution,PC,Desktop,6/24/2013,16,1.3,"Eutechnyx,DeepSilver",No info,9,581,2013,Driving
17943,Family Party: 30 Great Games Obstacle Arcade,WiiU,Nintendo,12/4/2012,11,2,"ArtCo.,Ltd.",No Online Multiplayer,8,151,2012,Miscellaneous

In [103]:
df_3 = pd.concat([df_2_renamed, df_developer_dropped], axis = 1)
df_3_drop = df_3.drop(columns=['developer'])
df_3_renamed_3 = df_3_drop.rename(columns={
    0: 'developer'
})

In [104]:
df_3_renamed_3.head(5)

,name,platform,company,release_date,score,user_score,players,critics,users,year,genre,developer
0,The Legend of Zelda: Ocarina of Time,Nintendo64,Nintendo,11/23/1998,99,9.1,1 Player,22,5749,1998,Action Adventure,Nintendo
1,Tony Hawk's Pro Skater 2,PlayStation,Sony,9/20/2000,98,7.4,2-Jan,19,647,2000,Sports,NeversoftEntertainment
2,Grand Theft Auto IV,PlayStation3,Sony,4/29/2008,98,7.6,1 Player,64,3806,2008,Action Adventure,RockstarNorth
3,SoulCalibur,Dreamcast,SEGA,9/8/1999,98,8.5,2-Jan,24,324,1999,Action,Namco
4,Grand Theft Auto IV,Xbox360,Microsoft,4/29/2008,98,7.9,1 Player,86,3364,2008,Action Adventure,RockstarNorth

Limpiamos los datos de los jugadores mediante las funciones establecidas.

In [105]:
df_3_renamed_3['players'] = df_3_renamed_3['players'].replace(deleting_data(), adding_data())

Se recorre el index.

In [106]:
df_3_renamed_3.index += 1

In [107]:
df_3_renamed_3

,name,platform,company,release_date,score,user_score,players,critics,users,year,genre,developer
1,The Legend of Zelda: Ocarina of Time,Nintendo64,Nintendo,11/23/1998,99,9.1,1 Player,22,5749,1998,Action Adventure,Nintendo
2,Tony Hawk's Pro Skater 2,PlayStation,Sony,9/20/2000,98,7.4,2 players,19,647,2000,Sports,NeversoftEntertainment
3,Grand Theft Auto IV,PlayStation3,Sony,4/29/2008,98,7.6,1 Player,64,3806,2008,Action Adventure,RockstarNorth
4,SoulCalibur,Dreamcast,SEGA,9/8/1999,98,8.5,2 players,24,324,1999,Action,Namco
5,Grand Theft Auto IV,Xbox360,Microsoft,4/29/2008,98,7.9,1 Player,86,3364,2008,Action Adventure,RockstarNorth
...,...,...,...,...,...,...,...,...,...,...,...,...
17940,Vroom in the Night Sky,Switch,Nintendo,4/5/2017,17,3.1,No Online Multiplayer,15,105,2017,Sports,Poisoft
17941,Leisure Suit Larry: Box Office Bust,PlayStation3,Sony,5/5/2009,17,1.9,No Online Multiplayer,11,45,2009,Action Adventure,Team17
17942,Yaris,Xbox360,Microsoft,10/10/2007,17,4.3,2 Online,7,129,2007,Driving,BackboneEntertainment
17943,Ride to Hell: Retribution,PC,Desktop,6/24/2013,16,1.3,No info,9,581,2013,Driving,Eutechnyx
17944,Family Party: 30 Great Games Obstacle Arcade,WiiU,Nintendo,12/4/2012,11,2,No Online Multiplayer,8,151,2012,Miscellaneous,ArtCo.

Checamos los tipos de datos

In [108]:
df_3_renamed_3.dtypes

name            object
platform        object
company         object
release_date    object
score            int64
user_score      object
players         object
critics          int64
users            int64
year             int64
genre           object
developer       object
dtype: object

Necesitamos cambiar el user_score a float y release_date a un formato fecha.

In [109]:
df_3_renamed_3['user_score'] = df_3_renamed_3['user_score'].replace('tbd', 0)

In [110]:
df_3_renamed_3['genre'] = df_3_renamed_3['genre'].str.replace('General', 'Action Adventure')

In [111]:
df_3_renamed_3['genre'] = df_3_renamed_3['genre'].str.replace('Japanese-Style', 'Role-Playing')

In [112]:
df_3_renamed_3['user_score'] = df_3_renamed_3['user_score'].astype(float)

In [113]:
conversion = {
    'release_date': 'datetime64[ms]'
}

In [114]:
df_3_renamed_3 = df_3_renamed_3.astype(conversion)

In [115]:
df_3_renamed_3.dtypes

name                    object
platform                object
company                 object
release_date    datetime64[ns]
score                    int64
user_score             float64
players                 object
critics                  int64
users                    int64
year                     int64
genre                   object
developer               object
dtype: object

In [116]:
df_3_renamed_3

,name,platform,company,release_date,score,user_score,players,critics,users,year,genre,developer
1,The Legend of Zelda: Ocarina of Time,Nintendo64,Nintendo,1998-11-23,99,9.1,1 Player,22,5749,1998,Action Adventure,Nintendo
2,Tony Hawk's Pro Skater 2,PlayStation,Sony,2000-09-20,98,7.4,2 players,19,647,2000,Sports,NeversoftEntertainment
3,Grand Theft Auto IV,PlayStation3,Sony,2008-04-29,98,7.6,1 Player,64,3806,2008,Action Adventure,RockstarNorth
4,SoulCalibur,Dreamcast,SEGA,1999-09-08,98,8.5,2 players,24,324,1999,Action,Namco
5,Grand Theft Auto IV,Xbox360,Microsoft,2008-04-29,98,7.9,1 Player,86,3364,2008,Action Adventure,RockstarNorth
...,...,...,...,...,...,...,...,...,...,...,...,...
17940,Vroom in the Night Sky,Switch,Nintendo,2017-04-05,17,3.1,No Online Multiplayer,15,105,2017,Sports,Poisoft
17941,Leisure Suit Larry: Box Office Bust,PlayStation3,Sony,2009-05-05,17,1.9,No Online Multiplayer,11,45,2009,Action Adventure,Team17
17942,Yaris,Xbox360,Microsoft,2007-10-10,17,4.3,2 Online,7,129,2007,Driving,BackboneEntertainment
17943,Ride to Hell: Retribution,PC,Desktop,2013-06-24,16,1.3,No info,9,581,2013,Driving,Eutechnyx
17944,Family Party: 30 Great Games Obstacle Arcade,WiiU,Nintendo,2012-12-04,11,2.0,No Online Multiplayer,8,151,2012,Miscellaneous,ArtCo.

Renombramos y actualizamos el csv.

In [124]:
df_rewritten = df_3_renamed_3.copy()
df_rewritten.index.names = ['game_id']

In [125]:
df_rewritten.to_csv(writing_db(), index=True, header=True)

## Análisis de los datos.

Se ordenan los 10 juegos con mayor número de críticas de la prensa y los jugadores.

In [44]:
df_rewritten.sort_values('critics', ascending=False).head(10)

,name,platform,company,release_date,score,user_score,players,critics,users,year,genre,developer
game_id,,,,,,,,,,,,
955,Final Fantasy VII Remake,PlayStation4,Sony,2020-04-10,87,8.1,No Online Multiplayer,126,6405,2020,Role-Playing,SquareEnix
2271,Ghost of Tsushima,PlayStation4,Sony,2020-07-17,83,9.2,No Online Multiplayer,122,17420,2020,Action Adventure,SuckerPunch
116,The Last of Us Part II,PlayStation4,Sony,2020-06-19,93,5.7,No Online Multiplayer,121,146262,2020,Action Adventure,NaughtyDog
70,God of War,PlayStation4,Sony,2018-04-20,94,9.2,No Online Multiplayer,118,16298,2018,Action Adventure,SCESantaMonica
1027,Marvel's Spider-Man,PlayStation4,Sony,2018-09-07,87,8.7,No Online Multiplayer,116,6051,2018,Action Adventure,InsomniacGames
690,Horizon Zero Dawn,PlayStation4,Sony,2017-02-28,89,8.4,No Online Multiplayer,115,9400,2017,Role-Playing,Guerrilla
4400,Paper Mario: The Origami King,Switch,Nintendo,2020-07-17,80,6.9,No Online Multiplayer,114,1462,2020,Role-Playing,IntelligentSystems
20,Super Mario Odyssey,Switch,Nintendo,2017-10-27,97,8.9,No Online Multiplayer,113,5546,2017,Action,Nintendo
164,Uncharted 4: A Thief's End,PlayStation4,Sony,2016-05-10,93,8.5,Up to 10,113,12333,2016,Action Adventure,NaughtyDog
1013,The Legend of Zelda: Link's Awakening,Switch,Nintendo,2019-09-20,87,8.4,No Online Multiplayer,111,1135,2019,Action Adventure,Nintendo

In [45]:
df_rewritten.sort_values('users', ascending=False).head(10)

,name,platform,company,release_date,score,user_score,players,critics,users,year,genre,developer
game_id,,,,,,,,,,,,
116,The Last of Us Part II,PlayStation4,Sony,2020-06-19,93,5.7,No Online Multiplayer,121,146262,2020,Action Adventure,NaughtyDog
14809,Warcraft III: Reforged,PC,Desktop,2020-01-28,59,0.6,Online Multiplayer,46,30532,2020,Strategy,BlizzardEntertainment
111,The Witcher 3: Wild Hunt,PC,Desktop,2015-05-18,93,9.4,No Online Multiplayer,32,17537,2015,Action RPG,CDProjektRedStudio
2271,Ghost of Tsushima,PlayStation4,Sony,2020-07-17,83,9.2,No Online Multiplayer,122,17420,2020,Action Adventure,SuckerPunch
2952,Death Stranding,PlayStation4,Sony,2019-11-08,82,7.3,No Online Multiplayer,111,16949,2019,Action,KojimaProductions
70,God of War,PlayStation4,Sony,2018-04-20,94,9.2,No Online Multiplayer,118,16298,2018,Action Adventure,SCESantaMonica
13,The Legend of Zelda: Breath of the Wild,Switch,Nintendo,2017-03-03,97,8.6,No Online Multiplayer,109,15873,2017,Action Adventure,Nintendo
216,The Witcher 3: Wild Hunt,PlayStation4,Sony,2015-05-19,92,9.2,No Online Multiplayer,79,15749,2015,Action RPG,CDProjektRedStudio
59,The Last of Us Remastered,PlayStation4,Sony,2014-07-29,95,9.2,Up to 8,70,14563,2014,Action Adventure,NaughtyDog
16,Red Dead Redemption 2,PlayStation4,Sony,2018-10-26,97,8.4,Up to 32,99,14315,2018,Action Adventure,RockstarGames

Los mejores titulos de TLOZ según la crítica.

In [46]:
df_zelda = df_rewritten[df_rewritten['name'].str.startswith('The Legend of Zelda')]
df_zelda.sort_values('score', ascending = False)

,name,platform,company,release_date,score,user_score,players,critics,users,year,genre,developer
game_id,,,,,,,,,,,,
1,The Legend of Zelda: Ocarina of Time,Nintendo64,Nintendo,1998-11-23,99,9.1,1 Player,22,5749,1998,Action Adventure,Nintendo
13,The Legend of Zelda: Breath of the Wild,Switch,Nintendo,2017-03-03,97,8.6,No Online Multiplayer,109,15873,2017,Action Adventure,Nintendo
25,The Legend of Zelda: Breath of the Wild,WiiU,Nintendo,2017-03-03,96,8.2,No Online Multiplayer,13,2245,2017,Fantasy,Nintendo
35,The Legend of Zelda: Twilight Princess,GameCube,Nintendo,2006-12-11,96,8.9,1 Player,16,823,2006,Action Adventure,Nintendo
39,The Legend of Zelda: The Wind Waker,GameCube,Nintendo,2003-03-24,96,9.0,1 Player,80,1370,2003,Action Adventure,Nintendo
48,The Legend of Zelda Collector's Edition,GameCube,Nintendo,2003-11-17,95,9.0,1 Player,8,194,2003,Action Adventure,Nintendo
52,The Legend of Zelda: A Link to the Past,GameBoyAdvance,Nintendo,2002-12-03,95,9.0,No info,30,524,2002,Action Adventure,Capcom
53,The Legend of Zelda: Majora's Mask,Nintendo64,Nintendo,2000-10-25,95,9.2,1 Player,27,1198,2000,Action Adventure,Nintendo
55,The Legend of Zelda: Twilight Princess,Wii,Nintendo,2006-11-19,95,8.9,No Online Multiplayer,73,2060,2006,Action Adventure,Nintendo
77,The Legend of Zelda: Ocarina of Time 3D,3DS,Nintendo,2011-06-19,94,9.0,No Online Multiplayer,85,1625,2011,Miscellaneous,GREZZO
155,The Legend of Zelda: Skyward Sword,Wii,Nintendo,2011-11-20,93,8.1,No Online Multiplayer,81,2401,2011,Action Adventure,Nintendo
366,The Legend of Zelda: A Link Between Worlds,3DS,Nintendo,2013-11-22,91,9.0,No Online Multiplayer,81,1505,2013,Action RPG,Nintendo
309,The Legend of Zelda: Ocarina of Time / Master ...,GameCube,Nintendo,2003-02-28,91,8.9,1 Player,10,181,2003,Action Adventure,Nintendo
417,The Legend of Zelda: The Wind Waker HD,WiiU,Nintendo,2013-09-20,90,9.0,No Online Multiplayer,70,1281,2013,Action Adventure,Nintendo
421,The Legend of Zelda: Phantom Hourglass,DS,Nintendo,2007-10-01,90,8.0,2,57,533,2007,Action Adventure,Nintendo
537,The Legend of Zelda: Majora's Mask 3D,3DS,Nintendo,2015-02-13,89,8.9,No Online Multiplayer,82,710,2015,Fantasy,GREZZO
597,The Legend of Zelda: The Minish Cap,GameBoyAdvance,Nintendo,2005-01-10,89,8.9,1 Player,56,355,2005,Action Adventure,Flagship
1013,The Legend of Zelda: Link's Awakening,Switch,Nintendo,2019-09-20,87,8.4,No Online Multiplayer,111,1135,2019,Action Adventure,Nintendo
1074,The Legend of Zelda: Spirit Tracks,DS,Nintendo,2009-12-07,87,8.0,No Online Multiplayer,75,315,2009,Action Adventure,Nintendo
1360,The Legend of Zelda: Four Swords Adventures,GameCube,Nintendo,2004-06-07,86,7.5,4 players,55,102,2004,Action Adventure,Nintendo
1464,The Legend of Zelda: Twilight Princess HD,WiiU,Nintendo,2016-03-04,86,8.5,No Online Multiplayer,74,494,2016,Action Adventure,Tantalus
1642,The Legend of Zelda: Four Swords Anniversary E...,DS,Nintendo,2011-09-28,85,7.5,No info,13,73,2011,Action Adventure,GREZZO
3745,The Legend of Zelda: Breath of the Wild - The ...,Switch,Nintendo,2017-12-07,81,8.5,No info,22,273,2017,Action Adventure,Nintendo
5455,The Legend of Zelda: Breath of the Wild - The ...,Switch,Nintendo,2017-06-30,78,7.7,No info,15,300,2017,Action Adventure,Nintendo
8398,The Legend of Zelda: Tri Force Heroes,3DS,Nintendo,2015-10-23,73,7.5,Up to 3,73,219,2015,Action Adventure,Nintendo

Los mejores juegos de Battlefield según los jugadores.

In [47]:
df_battlefield = df_rewritten[df_rewritten['name'].str.startswith('Battlefield')]
df_battlefield.sort_values('user_score', ascending = False)

,name,platform,company,release_date,score,user_score,players,critics,users,year,genre,developer
game_id,,,,,,,,,,,,
658,Battlefield 1942,PC,Desktop,2002-09-10,89,8.6,64 Online,27,432,2002,Action,DigitalIllusions
796,Battlefield: Bad Company 2,Xbox360,Microsoft,2010-03-02,88,8.6,Up to 24,75,929,2010,Action,EADICE
783,Battlefield: Bad Company 2,PlayStation3,Sony,2010-03-02,88,8.5,Up to 24,59,623,2010,Action,EADICE
6224,Battlefield 2142: Northern Strike,PC,Desktop,2007-03-08,77,8.5,64 Online,15,50,2007,Action,EADICE
340,Battlefield 2,PC,Desktop,2005-06-21,91,8.4,64 Online,55,1017,2005,Action,DigitalIllusions
4189,Battlefield 2: Modern Combat,PlayStation2,Sony,2005-10-24,80,8.3,32 Online,42,81,2005,Action,DigitalIllusions
974,Battlefield: Bad Company 2,PC,Desktop,2010-03-02,87,8.2,No info,46,1733,2010,Action,EADICE
876,Battlefield: Bad Company 2 Vietnam,PlayStation3,Sony,2010-12-21,88,8.2,No info,16,73,2010,Action,EADICE
4341,Battlefield 2: Modern Combat,Xbox,Microsoft,2005-10-24,80,8.2,32 Online,49,30,2005,Action,DigitalIllusions
1441,Battlefield: Bad Company 2 Vietnam,PC,Desktop,2010-12-18,86,8.1,No info,18,217,2010,Action,EADICE
1838,Battlefield: Bad Company,PlayStation3,Sony,2008-06-23,84,8.1,Up to 24,50,244,2008,Action,EADICE
903,Battlefield: Bad Company 2 Vietnam,Xbox360,Microsoft,2010-12-21,88,8.0,No info,32,105,2010,Action,EADICE
680,Battlefield 1,PlayStation4,Sony,2016-10-18,89,7.9,Up to 64,34,2073,2016,Action,EADICE
2268,Battlefield 1943,Xbox360,Microsoft,2009-07-08,83,7.9,24 Online,65,149,2009,Action,DICEStockholm
4833,Battlefield 1942: Secret Weapons of WWII,PC,Desktop,2003-09-04,79,7.8,32 players,18,43,2003,Action,DigitalIllusions
2016,Battlefield 1943,PlayStation3,Sony,2009-07-09,84,7.8,Up to 24,40,113,2009,Action,DICEStockholm
6196,Battlefield 2: Special Forces,PC,Desktop,2005-11-21,77,7.7,64 Online,25,69,2005,Action,DigitalIllusions
2636,Battlefield: Bad Company,Xbox360,Microsoft,2008-06-23,83,7.7,Up to 24,70,286,2008,Action,EADICE
2200,Battlefield 1942: The Road to Rome,PC,Desktop,2003-02-02,84,7.6,64 players,22,41,2003,Action,DigitalIllusions
656,Battlefield 3,PC,Desktop,2011-10-25,89,7.6,No info,61,5302,2011,Action,EADICE
952,Battlefield 1,XboxOne,Microsoft,2016-10-18,87,7.6,Up to 64,39,701,2016,Action,EADICE
2149,Battlefield Vietnam,PC,Desktop,2004-03-14,84,7.6,64 players,48,166,2004,Action,DigitalIllusions
1931,Battlefield 3,Xbox360,Microsoft,2011-10-25,84,7.5,No info,57,2172,2011,Action,EADICE
1555,Battlefield 3,PlayStation3,Sony,2011-10-25,85,7.5,Up to 24,38,1843,2011,Action,EADICE
2629,Battlefield 3: Back to Karkand,PlayStation3,Sony,2011-12-06,83,7.5,No info,8,79,2011,Action,EADICE
5609,Battlefield 3: End Game,PC,Desktop,2013-03-26,78,7.4,No info,9,68,2013,Action,EADICE
1429,Battlefield 3: Back to Karkand,PC,Desktop,2011-12-13,86,7.3,No info,9,167,2011,Action,EADICE
5828,Battlefield 2: Modern Combat,Xbox360,Microsoft,2006-04-11,77,7.2,Up to 24,54,82,2006,Action,DigitalIllusions
863,Battlefield 1,PC,Desktop,2016-10-21,88,7.1,No info,54,2224,2016,Action Adventure,EADICE
1040,Battlefield 3: Armored Kill,PC,Desktop,2012-09-11,87,7.1,No info,14,116,2012,Action,EADICE
1522,Battlefield 4,PlayStation4,Sony,2013-11-12,85,7.1,Up to 64,18,1997,2013,Action,EADICE
8427,Battlefield 3: Close Quarters,PC,Desktop,2012-06-26,73,6.9,No info,8,127,2012,Action,EADICE
2308,Battlefield 3: Back to Karkand,Xbox360,Microsoft,2011-12-13,83,6.9,No info,7,57,2011,Action,EADICE
4140,Battlefield 2142,PC,Desktop,2006-10-17,80,6.8,64 Online,48,354,2006,Action,EADICE
9592,Battlefield 2: Euro Force,PC,Desktop,2006-03-15,71,6.7,64 Online,11,27,2006,Action,DigitalIllusions
3247,Battlefield 4,PC,Desktop,2013-10-29,81,6.2,No info,52,3821,2013,Action,EADICE
10803,Battlefield Heroes,PC,Desktop,2009-06-25,69,6.1,No info,24,108,2009,Action,EADICE
3892,Battlefield 4,PlayStation3,Sony,2013-10-29,80,5.9,Up to 22,14,618,2013,Action,EADICE
4780,Battlefield 4,Xbox360,Microsoft,2013-10-29,79,5.7,Up to 24,21,560,2013,Action,EADICE
8780,Battlefield 3: Close Quarters,Xbox360,Microsoft,2012-06-26,72,5.5,No info,8,43,2012,Action,EADICE
9362,Battlefield Hardline,XboxOne,Microsoft,2015-03-17,71,5.2,Up to more than 64,27,325,2015,Modern,VisceralGames
8146,Battlefield Hardline,PlayStation4,Sony,2015-03-17,73,5.2,Up to more than 64,46,978,2015,Modern,VisceralGames
6519,Battlefield 1: They Shall Not Pass,PC,Desktop,2017-03-14,76,4.9,No info,8,38,2017,Action,EADICE
4512,Battlefield 3: Armored Kill,PlayStation3,Sony,2012-09-04,79,4.3,No info,7,78,2012,Action,EADICE
9623,Battlefield Hardline,PC,Desktop,2015-03-17,71,4.2,No info,31,895,2015,Modern,VisceralGames
3668,Battlefield V,PC,Desktop,2018-11-15,81,2.9,Up to 64,52,2814,2018,Action,EADICE
5235,Battlefield V,XboxOne,Microsoft,2018-11-15,78,2.9,Up to 64,38,759,2018,Action,EADICE
8204,Battlefield V,PlayStation4,Sony,2018-11-15,73,2.3,Up to 64,23,2542,2018,Action,EADICE
11605,Battlefield: Play4Free,PC,Desktop,2011-03-10,68,2.0,No info,11,201,2011,Action,DigitalIllusions

Juegos que tienen "No Info" en la columna de numero de jugadores

In [48]:
df_rewritten['players'].value_counts()

No Online Multiplayer    4792
No info                  4430
1 Player                 2032
2 players                1212
4 players                 962
Up to 4                   583
Up to 8                   416
2                         402
2  Online                 386
Online Multiplayer        375
4  Online                 282
8 players                 279
8  Online                 209
Up to 16                  157
Up to 12                  147
Up to 6                   135
Massively Multiplayer     120
Up to 10                  108
16  Online                104
16 players                 89
6  Online                  69
6 players                  63
32 players                 41
32  Online                 40
Up to 22                   36
10  Online                 35
Up to 24                   30
Up to 18                   29
Up to 20                   28
3 players                  27
12  Online                 27
Up to 3                    26
Up to 32                   25
Up to 40                   22
0                          22
Up to 5                    21
Up to 64                   21
24  Online                 21
Up to more than 64         20
5 players                  19
12 players                 17
10 players                 13
14  Online                  9
64 players                  8
5  Online                   8
64  Online                  7
Up to 14                    7
Up to 9                     5
3  Online                   5
64+  Online                 5
Up to 60                    5
Up to 30                    5
44  Online                  4
64+                         2
Up to 36                    1
24 players                  1
Name: players, dtype: int64

Juegos hechos por desarrollador.

In [49]:
df_developers_count = df_rewritten['developer'].value_counts()
#df_developers_count_made = pd.DataFrame(df_developers_count, columns = ['developer'])
#pd.set_option('display.max_rows', df_developers_count.shape[0] + 1)
 
df_developers_count

Capcom                322
TelltaleGames         243
EASports              203
Nintendo              186
Konami                185
                     ...
WeatherFactory          1
AlkemiGames             1
Newcom                  1
VectorUnit              1
GravityCorporation      1
Name: developer, Length: 3561, dtype: int64

Creamos un dataframe para asignar un ID a cada desarrollador. Tammbien eliminamos los duplicados.

In [50]:
df_only_developers_name = pd.DataFrame(df_rewritten['developer'], columns=['developer'])
df_only_developers_name.index.names = ['developer_ID']
df_only_developers_name

                           developer
developer_ID
1                           Nintendo
2             NeversoftEntertainment
3                      RockstarNorth
4                              Namco
5                      RockstarNorth
...                              ...
17940                        Poisoft
17941                         Team17
17942          BackboneEntertainment
17943                      Eutechnyx
17944                         ArtCo.

[17944 rows x 1 columns]

In [51]:
df_only_developers_name_no_duplicates = df_only_developers_name.groupby('developer').apply(list).reset_index()
df_only_developers_name_no_duplicates.index += 1
df_only_developers_name_no_duplicates = df_only_developers_name_no_duplicates.drop(columns=[0])
df_only_developers_name_no_duplicates.index.names = ['developer_ID']
df_only_developers_name_no_duplicates

                        developer
developer_ID
1                    .theprodukkt
2                            101%
3                  10tacleStudios
4                          10tons
5             10tonsEntertainment
...                           ...
3557                      tobyfox
3558                  winterworks
3559                     xiigames
3560                          yeo
3561                       zSlide

[3561 rows x 1 columns]

Creamos un dataframe para determinar los desarrolladores con más de 10 juegos en la base de datos.

In [52]:
df_developers_count_more_than_50 = df_developers_count[df_developers_count >= 10]
df_developer_count_made = pd.DataFrame(df_developers_count_more_than_50, columns=['developer'])
df_developer_count_made.index.names = ['developer']
df_developer_count_made = df_developer_count_made.rename(columns={
    'developer': 'count'
})
df_developer_count_made

                                   count
developer
Capcom                               322
TelltaleGames                        243
EASports                             203
Nintendo                             186
Konami                               185
...                                  ...
Virtuos                               10
PlaygroundGames                       10
FreeStyleGames                        10
KonamiComputerEntertainmentHawaii     10
Petroglyph                            10

[379 rows x 1 columns]

Obtenemos el número de juegos por plataforma y su "resumen" (promedio, mediana y desviación estándar)

In [53]:
df_summary_platforms = df_rewritten.groupby('platform')['score'].agg(['mean', 'median', 'std'])
df_summary_platforms

                      mean  median        std
platform
3DS              69.607500    71.0  12.251068
DS               66.480822    68.0  12.589991
Dreamcast        73.696000    76.0  13.091011
GameBoyAdvance   68.504505    70.0  13.052161
GameCube         70.747788    71.0  12.868881
Nintendo64       78.528571    81.0  13.242139
PC               71.551394    73.0  11.765477
PSP              68.493177    69.0  11.244115
PlayStation      72.978723    75.5  15.939041
PlayStation2     68.923836    70.0  12.662543
PlayStation3     70.568164    72.0  13.262913
PlayStation4     71.022303    72.0  11.038312
PlayStation5     80.000000    82.0   6.244998
PlayStationVita  70.980545    72.0  10.548049
Stadia           76.750000    76.5   4.349329
Switch           72.442959    74.0  10.274417
Wii              65.707831    67.0  13.796262
WiiU             72.021505    76.0  13.904678
Xbox             69.972257    72.0  13.638431
Xbox360          68.582833    71.0  14.093746
XboxOne          72.352415    74.0  10.459846
XboxSeriesX      85.500000    85.5   0.707107

In [54]:
df_count_platforms = df_rewritten.groupby('platform').size()
df_count_platforms = pd.DataFrame(df_count_platforms, columns=['count'])

In [55]:
df_summary_platforms_count = pd.concat([df_count_platforms,df_summary_platforms], axis=1)
df_summary_platforms_count

                 count       mean  median        std
platform
3DS                400  69.607500    71.0  12.251068
DS                 730  66.480822    68.0  12.589991
Dreamcast          125  73.696000    76.0  13.091011
GameBoyAdvance     444  68.504505    70.0  13.052161
GameCube           452  70.747788    71.0  12.868881
Nintendo64          70  78.528571    81.0  13.242139
PC                4592  71.551394    73.0  11.765477
PSP                513  68.493177    69.0  11.244115
PlayStation        188  72.978723    75.5  15.939041
PlayStation2      1418  68.923836    70.0  12.662543
PlayStation3      1269  70.568164    72.0  13.262913
PlayStation4      1928  71.022303    72.0  11.038312
PlayStation5         3  80.000000    82.0   6.244998
PlayStationVita    257  70.980545    72.0  10.548049
Stadia               4  76.750000    76.5   4.349329
Switch            1122  72.442959    74.0  10.274417
Wii                664  65.707831    67.0  13.796262
WiiU               186  72.021505    76.0  13.904678
Xbox               793  69.972257    72.0  13.638431
Xbox360           1666  68.582833    71.0  14.093746
XboxOne           1118  72.352415    74.0  10.459846
XboxSeriesX          2  85.500000    85.5   0.707107

Eliminamos las plataformas que tengan menos de 10 juegos en la lista.

In [56]:
df_summary_platforms_count.drop(df_summary_platforms_count[(df_summary_platforms_count['count'] < 10)].index, inplace=True)
df_summary_platforms_count

                 count       mean  median        std
platform
3DS                400  69.607500    71.0  12.251068
DS                 730  66.480822    68.0  12.589991
Dreamcast          125  73.696000    76.0  13.091011
GameBoyAdvance     444  68.504505    70.0  13.052161
GameCube           452  70.747788    71.0  12.868881
Nintendo64          70  78.528571    81.0  13.242139
PC                4592  71.551394    73.0  11.765477
PSP                513  68.493177    69.0  11.244115
PlayStation        188  72.978723    75.5  15.939041
PlayStation2      1418  68.923836    70.0  12.662543
PlayStation3      1269  70.568164    72.0  13.262913
PlayStation4      1928  71.022303    72.0  11.038312
PlayStationVita    257  70.980545    72.0  10.548049
Switch            1122  72.442959    74.0  10.274417
Wii                664  65.707831    67.0  13.796262
WiiU               186  72.021505    76.0  13.904678
Xbox               793  69.972257    72.0  13.638431
Xbox360           1666  68.582833    71.0  14.093746
XboxOne           1118  72.352415    74.0  10.459846

Checamos la aceptación que tienen los usuarios por compañía y consola.

In [57]:
df_count_companies_platforms = df_rewritten.groupby(['company','platform'])['user_score'].size()

In [58]:
df_summary_companies_platforms = df_rewritten.groupby(['company','platform'])['user_score'].agg(['mean', 'median', 'std'])
df_summary_companies_platforms

                               mean  median       std
company   platform
Desktop   PC               6.648824    7.10  1.822876
          Stadia           5.375000    7.10  3.584573
Microsoft Xbox             6.020050    7.30  2.984119
          Xbox360          6.582353    7.10  1.917227
          XboxOne          5.849106    6.50  2.243014
          XboxSeriesX      0.000000    0.00  0.000000
Nintendo  3DS              6.822750    7.40  1.724730
          DS               5.600959    7.20  3.201892
          GameBoyAdvance   5.809234    7.65  3.447370
          GameCube         6.838496    7.80  2.457474
          Nintendo64       8.080000    8.25  0.771710
          Switch           6.425490    7.30  2.477573
          Wii              6.482229    7.30  2.403583
          WiiU             7.201075    7.50  1.306160
SEGA      Dreamcast        7.696000    8.00  1.587928
Sony      PSP              6.578363    7.40  2.469221
          PlayStation      6.671809    7.95  3.016586
          PlayStation2     7.019887    7.90  2.387408
          PlayStation3     6.657210    7.10  1.754028
          PlayStation4     6.145280    6.60  1.858742
          PlayStation5     0.000000    0.00  0.000000
          PlayStationVita  7.143580    7.40  1.377089

In [59]:
df_summary_platforms_companies_count = pd.concat([df_summary_companies_platforms,df_count_companies_platforms], axis=1)
df_summary_platforms_companies_count= df_summary_platforms_companies_count.rename(columns={
    'user_score': 'count'
})
df_summary_platforms_companies_count.drop(df_summary_platforms_companies_count[(df_summary_platforms_companies_count['count'] < 10)].index, inplace=True)
df_summary_platforms_companies_count

                               mean  median       std  count
company   platform
Desktop   PC               6.648824    7.10  1.822876   4592
Microsoft Xbox             6.020050    7.30  2.984119    793
          Xbox360          6.582353    7.10  1.917227   1666
          XboxOne          5.849106    6.50  2.243014   1118
Nintendo  3DS              6.822750    7.40  1.724730    400
          DS               5.600959    7.20  3.201892    730
          GameBoyAdvance   5.809234    7.65  3.447370    444
          GameCube         6.838496    7.80  2.457474    452
          Nintendo64       8.080000    8.25  0.771710     70
          Switch           6.425490    7.30  2.477573   1122
          Wii              6.482229    7.30  2.403583    664
          WiiU             7.201075    7.50  1.306160    186
SEGA      Dreamcast        7.696000    8.00  1.587928    125
Sony      PSP              6.578363    7.40  2.469221    513
          PlayStation      6.671809    7.95  3.016586    188
          PlayStation2     7.019887    7.90  2.387408   1418
          PlayStation3     6.657210    7.10  1.754028   1269
          PlayStation4     6.145280    6.60  1.858742   1928
          PlayStationVita  7.143580    7.40  1.377089    257

Hacemos un conteo de los juegos por año, que están en la base de datos.

In [294]:
df_year_games_count = df_rewritten.groupby('year')['name'].size()

In [295]:
df_year_games_count

year
1995       1
1996      20
1997      27
1998      45
1999      52
2000     355
2001     546
2002     786
2003     811
2004     724
2005     859
2006     892
2007     936
2008     944
2009     970
2010     847
2011     861
2012     795
2013     766
2014     781
2015     864
2016     982
2017    1059
2018    1147
2019    1010
2020     864
Name: name, dtype: int64

In [296]:
df_year_games = df_rewritten.sort_values('year')

In [297]:
df_year_games

,name,platform,company,release_date,score,user_score,players,critics,users,year,genre,developer
game_id,,,,,,,,,,,,
1375,Full Throttle,PC,Desktop,1995-04-30,86,8.6,No info,8,181,1995,Adventure,LucasArts
589,Tekken 2,PlayStation,Sony,1996-08-25,89,8.4,2 players,8,165,1996,Action,Namco
16296,Harvester,PC,Desktop,1996-08-31,53,7.9,No Online Multiplayer,8,47,1996,Adventure,DigiFXInteractive
632,Duke Nukem 3D,PC,Desktop,1996-01-29,89,8.7,4 players,8,461,1996,Action,3DRealms
86,Sid Meier's Civilization II,PC,Desktop,1996-02-29,94,8.8,1 Player,7,450,1996,Strategy,MPSLabs
...,...,...,...,...,...,...,...,...,...,...,...,...
1290,Panzer Corps 2,PC,Desktop,2020-03-19,86,5.9,Online Multiplayer,14,36,2020,Strategy,FlashbackGames
4184,Faeria,Switch,Nintendo,2020-08-13,80,7.3,No Online Multiplayer,11,16,2020,Miscellaneous,AbrakamSA
10829,Raji: An Ancient Epic,Switch,Nintendo,2020-08-18,69,7.8,No Online Multiplayer,21,56,2020,Adventure,NoddingHeadsGames
6580,Samurai Shodown,PC,Desktop,2020-06-11,76,6.3,Up to 10,14,9,2020,Action,SNKCorporation
8078,Minecraft Dungeons,XboxOne,Microsoft,2020-05-26,74,7.8,Up to 4,37,264,2020,Action Adventure,MojangAB

Checamos qué juegos fueron los mejores calificados según la crítica.

In [298]:
df_best_games_year = df_year_games[['name','year','score']]

In [ ]:
df_best_games_year

In [292]:
def grouping_max(dataframe, groupby, agregation, criteria):
  grouping_max_data = dataframe.loc[dataframe.groupby(groupby)[agregation].idxmax()][criteria]
  return grouping_max_data

In [300]:
df_best_games_names = grouping_max(df_best_games_year,'year','score','name')
df_best_games_scores = grouping_max(df_best_games_year,'year','score','score')
df_best_games_years = grouping_max(df_best_games_year,'year','score','year')
df_best_games_by_year = pd.concat([df_best_games_names,df_best_games_scores,df_best_games_years], axis = 1)
df_best_games_by_year

                                                   name  score  year
game_id
1375                                      Full Throttle     86  1995
86                          Sid Meier's Civilization II     94  1996
27                                        GoldenEye 007     96  1997
1                  The Legend of Zelda: Ocarina of Time     99  1998
4                                           SoulCalibur     98  1999
2                              Tony Hawk's Pro Skater 2     98  2000
14                             Tony Hawk's Pro Skater 3     97  2001
18                                        Metroid Prime     97  2002
39                  The Legend of Zelda: The Wind Waker     96  2003
23                                          Half-Life 2     96  2004
38                                      Resident Evil 4     96  2005
35               The Legend of Zelda: Twilight Princess     96  2006
6                                    Super Mario Galaxy     97  2007
3                                   Grand Theft Auto IV     98  2008
28                           Uncharted 2: Among Thieves     96  2009
7                                  Super Mario Galaxy 2     97  2010
32                                  Batman: Arkham City     96  2011
167                                       Mass Effect 3     93  2012
10                                   Grand Theft Auto V     97  2013
9                                    Grand Theft Auto V     97  2014
24                                   Grand Theft Auto V     96  2015
164                          Uncharted 4: A Thief's End     93  2016
13              The Legend of Zelda: Breath of the Wild     97  2017
16                                Red Dead Redemption 2     97  2018
119      Divinity: Original Sin II - Definitive Edition     93  2019
58                                      Persona 5 Royal     95  2020

Hacemos lo mismo, pero con las calificaciones de los jugadores.

In [304]:
df_best_games_year_gamers = df_year_games[['name','year','user_score']]
df_best_games_year_gamers = df_best_games_year_gamers.sort_values('year')
df_best_games_names_gamers = grouping_max(df_best_games_year_gamers,'year','user_score','name')
df_best_games_scores_gamers = grouping_max(df_best_games_year_gamers ,'year','user_score','user_score')
df_best_games_years_gamers = grouping_max(df_best_games_year_gamers ,'year','user_score','year')
df_best_games_by_year_gamers = pd.concat([df_best_games_names_gamers,df_best_games_scores_gamers,df_best_games_years_gamers], axis = 1)
df_best_games_by_year_gamers

                                       name  user_score  year
game_id
1375                          Full Throttle         8.6  1995
110                          Super Mario 64         9.2  1996
161      Castlevania: Symphony of the Night         9.2  1997
1922                              Xenogears         9.2  1998
3163                            Suikoden II         9.2  1999
6069                        Resident Evil 2         9.2  2000
716                              Shenmue II         9.2  2001
295                           Resident Evil         9.2  2002
778         Warcraft III: The Frozen Throne         9.2  2003
1363                     Tales of Symphonia         9.1  2004
29                          Resident Evil 4         9.2  2005
8624                               God Hand         9.2  2006
4566                           GrimGrimoire         9.8  2007
246                          Chrono Trigger         9.1  2008
279                   Metroid Prime Trilogy         9.0  2009
13983                         Metal Torrent         9.7  2010
2333         Ghost Trick: Phantom Detective         9.7  2011
249                    Xenoblade Chronicles         9.2  2012
54                           The Last of Us         9.2  2013
10266                               Tengami         9.7  2014
111                The Witcher 3: Wild Hunt         9.4  2015
10609        Diaries of a Spaceport Janitor         9.7  2016
2958                      The Evil Within 2         9.1  2017
70                               God of War         9.2  2018
11683                               Crystar         9.6  2019
3481                         No More Heroes         9.6  2020